<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <!-- Latest compiled and minified CSS -->
    <link href="../Content/bootswatch/flatly/bootstrap.min.css" rel="stylesheet" />
    <!-- Optional theme -->



    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <!-- Angular Minified JavaScript -->
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/js/Controllers/MainController.js"></script>

    <title>
        MENU
    </title>
</head>
<body ng-controller="MainController">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">Bootswatch</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Funcionalidades <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li>
                                <a href="/mywebsite/githublist.html">GitHub List</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Outras</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="../help/">Help</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">xxxxxxxxxxxxxx <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="http://jsfiddle.net/bootswatch/jmg3gykg/">Open Sandbox</a></li>
                            <li class="divider"></li>
                            <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
                            <li><a href="./bootstrap.css">bootstrap.css</a></li>
                            <li class="divider"></li>
                            <li><a href="./variables.less">variables.less</a></li>
                            <li><a href="./bootswatch.less">bootswatch.less</a></li>
                            <li class="divider"></li>
                            <li><a href="./_variables.scss">_variables.scss</a></li>
                            <li><a href="./_bootswatch.scss">_bootswatch.scss</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" target="_blank">my LinkedIN</a></li>
                    <li><a href="#" target="_blank">More About Angular + BootStrap + BootsWatch</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container">

        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>Angular + Bootstrap</h1>
                    <p class="lead">Flat and modern</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="list-group table-of-contents">
                        <a class="list-group-item" href="#navbar">Item1</a>
                        <a class="list-group-item" href="#buttons">Item2</a>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="list-group table-of-contents">


                        <form name="searchUser" ng-submit="search(username, minrepo, minfollowers)">
                            <table class="table table-striped table-hover ">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Username to find:</td>
                                        <td><input type="search" required placeholder="Username to find" ng-model="username" /></td>
                                    </tr>
                                    <tr>
                                        <td> Minimum repositories: </td>
                                        <td><input type="search" required placeholder="Minimum repositories" ng-model="minrepo" /> </td>
                                    </tr>
                                    <tr>
                                        <td>  Minimum Followers</td>
                                        <td><input type="search" required placeholder="Minimum Followers" ng-model="minfollowers" /> </td>
                                    </tr>
                                    <tr>
                                        <td>  </td>
                                        <td> <input type="submit" value="Search" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>

                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><select ng-model="selectedItem" ng-options="item.login for item in list.items"></select></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--<select>
                            <option ng-repeat="n in list.items">{{n.login}}</option>
                        </select>-->
                       
                        
                       

                        <br>Selected Item:{{selectedItem}}




                        <!--<select ng-options="list.items.login for login in lists"
                                ng-model="item" ng-change="update()"></select>-->

                        <br /><br /><br /><br /><br />
                        <div ng-repeat="l in list.items">
                            Usuario: {{$index}}
                            <br />
                            Login: {{l.login}}
                            <br />
                            AvatarURL: {{l.avatar_url}}
                            <br />
                            <hr />

                        </div>


                    </div>
                </div>

            </div>
        </div>


        <footer>
            <div class="row">
                <div class="col-lg-12">


                </div>
            </div>

        </footer>


    </div>



</body>
</html>
